<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="recreate.india.yogdaan">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoyogdaan"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoyogdaan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".language"></activity>
        <activity android:name=".PaymentSuggestion"></activity>
        <activity android:name=".Statuspage" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".DonateActivity" />
        <activity android:name=".Volunteer"></activity>
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".BlogActivity" />
        <activity
            android:name=".Introduction_Activity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".HelpPage"></activity>
        <activity android:name=".MainActivity"
            > <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity android:name=".OtpActivity" />
        <activity android:name=".OurHelpers" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8657920857471834~5124140148" />
    </application>

</manifest>